/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Resolved
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120125
*/

/* To Do: 
 - add decoration to menu, when hover
 - add colour to menu, when on page
 - change red to some other colour (?)
 - add headshot
 - is there a simpler way to do the different lists? 
 - add space before each header? 
 - **fix lists (add generic list ul{} )

     <link href="http://fonts.googleapis.com/css?family=Commissioner:200,300,400,600,700,900" rel="styleshee    t" type="text/css">
 */

@import url('https://fonts.googleapis.com/css?family=Commissioner:200,300,400,600,700,900')

font-family: "Commissioner"

ul,li,p,img,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
.CF:before,.CF:after{content:"";display:table;}
.CF:after,.Clear{clear:both;}

.banner {
    font-size: 1.2em;
    position: relative;
    width: 950px;
}
.pbr li {
    position:relative;
    display: block;
    border: 1px solid #555;
    text-align:left;
}
.imgWrap{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:50px;
    padding:5px;
    display:flex;
    display:-webkit-flex;
    align-items:center;
    -webkit-align-items:center;
    justify-content:center;
    -webkit-justify-content:center;
}
.pbrTxt {
    height:100%;
    margin-left:50px;
    color:#1b3a6f;
    padding:5px;
}
.pbr p {
    color:#555;
    font-size:14px;
}


mark {
    background-color:powderblue;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #2C383B;;
}

a:hover {
	text-decoration: none;
}

body {
	background: #FFFFFF;
	font-family: 'Commissioner', 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
}

h1 {
    letter-spacing: 2px
}

h2,h3,h4 {
	margin-bottom: 1em;
}

h2 {
    color: #000405;
	font-size: 2em; /* 2.25 */
}

h3 {
	font-size: 1.6em;  /* 1.75 */
    color: #1b59a1;
}

h4 {
    color: #000405;
	font-size: 1.3em; /* 1.5 */
}

p {
	margin-bottom: 1.2em; /* prev. 1.5em */
}
h5 {
    font-weight: normal;
    font-size: 0.9em;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

ul h4 {
	margin-bottom: 0.35em;
}

#table1 {
    border: 0px;
    text-align: left; 
    font-family: 'Commissioner', 'Source Sans Pro', Arial, sans-serif;
    font-size: 11pt;
    color: #8a8a8a;
    border-collapse: separate;
    border-spacing: 5px;
}

#table2 {
    border: 0px;
    text-align: left; 
    font-family: 'Commissioner', 'Source Sans Pro', Arial, sans-serif;
    font-size: 11pt;
    color: #8a8a8a;
    border-collapse: separate;
    border-spacing: 10px;
}

#footer {
	padding: 30px 0 80px 0;
	margin: 0 0 20px 0;
	background: #2C383B; 
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.3);
}

#footer a
{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}


#header {
	height: 100px;
	position: relative;
	padding: 35px 35px 0px 35px;
}

/* Wrapper */

#wrapper {
	width: 980px;
	margin: 35px auto 0 auto;
	position: relative;
}

/* Logo */

#logo
{
	position: absolute;
	top: 5px;
	left: 10px;
	font-family: 'Commissioner', 'Source Sans Pro', sans-serif;
}

#logo h1
{
	display: inline-block;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 700;
	color: #2C383B;
}

#logo span
{
	position: absolute;
	top: 40px;
	left: 0px;
	display: inline-block;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
	font-family: 'Commissioner', 'Source Sans Pro', sans-serif;
	color:#454445
}

#logo a
{
	text-decoration: none;
	color: #2C383B;
} 


/* Menu */

#menu {
	line-height: 30px;
	position: absolute;
	font-family: 'Commissioner', 'Source Sans Pro', sans-serif;
	top: 5px;
	right: 10px;
	height: 20px;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 15px;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 1px;
	padding: 1em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: lowercase;
	outline: 10;
	color: #1b59a1;
	background: #e2e8ef;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
    background: #b7d0ed;
}

#menu .current_page_item a
{
    text-decoration:underline;
}

/* Page */

#page {
	margin: 0 0 10px 0;
	position: relative;
	width: 980px;
	padding: 0;
}

#page h2, #page h3, #page h4 {
	color: #171717;
}

/* Icon wrapper */
#iconwrapper
{
  position: relative;
  border-left: 6px black;
  height: 20px;
  margin-left: 3px;
}

/* Content */
#content {
	background: #FFFFFF;
	width: 200px;
	/*color: #6E6E6E;*/ /* original */
    /* color: #402C16; */ /* Timeless */
	padding: 15px 0px 0 0px;
	float: left;
	/*border-bottom: solid 2px #BBC1BF;*/
}

#contact
{
    margin: 50px 10px 30px 10px;
    text-align: left;
    font-size: 11pt;
    font-weight: normal;
    color: #454445
}

#contact .title h2
{
    font-size: 2em;
}

#contact .title a {
    text-decoration:none;
}

#about 
{
    margin: 0px 10px 30px 10px;
    text-align: left;
    font-size: 11pt;
    font-weight: normal;
    color: #454445
}

#about .title h2 
{
     font-size: 2em;
}

#about .title a {
    text-decoration:none;
}

.edulist ul {
	list-style: none;
    margin: 0;
	padding: 0;
}

.edulist li {
	display: flex;
	align-items: center;
	padding: 1rem;
    overflow: auto;
    gap: 1rem;
	width: 1000px;
}

.edulist li:last-child{
    border: none;
}

.edulist img{
    float: left;
    width: 50px;
    margin: 0 15px 0 0;
}

.edulist a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

#publications
{
	margin: 0px 10px 30px 10px;
	text-align: left;
	font-size: 11pt;
	font-weight: normal;
	color: #454445	
}

#publications .title h2
{
	font-size: 2em;
}

#publications .title a {
	text-decoration:none;
}

ul.style1 li
{
    display:inline-block;
}

ul.style2
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0 0.80em 0;
	font-family: 0.80em;
}

ul.style2 li:before
{
	display: inline-block;
	padding: 4px;
	background: #DB3256; 
}

ul.style2 a
{
	display: inline-block;
	/*margin-left: 1em;*/
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

.nav li 
{
    border-left:1px solid rgba(0,0,0,.6);
    padding:0 10px;
    display: inline-block;
}

.nav li:first-child 
{
    border-left:
    none;
    display: inline-block;
}

/* Sidebar */

#sidebar {
	background: #FFFFFF;
	margin: 0 0 0 660px;
	color: #8a8a8a;
	padding: 10px 35px 45px 0px;
	width: 300px;
    height: 700px;
	overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    /*border-bottom: solid 2px #BBC1BF;*/
}

/* Now put into page
#sidebar h2, #sidebar h3, #sidebar h4 {
	color: #000000;
}
*/

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
    color: #8a8a8a;
	padding: 10px 0 10px 0;
	/* border-top: solid 1px #D9D9D9; */
    border-bottom: solid 1px #D9D9D9;
}

#sidebar ul li li{
    border-bottom: none;
    padding-left: 25px;
    padding-bottom: 5px;
	line-height: 15px;
	/*background: url(images/img01_timeless.gif) no-repeat left 8px; */
}

/*
#sidebar ul li.first {
	border-top: 0;
	padding-top: 0;
}
*/

/* Team members */
.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-cell-block {
  min-height: 5px;
}

.responsive-container-block {
  min-height: 5px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.outer-container {
    margin: 0px 10px 30px 10px;
    text-align: left;
    font-size: 11pt;
    font-weight: normal;
    color: #454445;
}

.inner-container {
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.heading-text {
  font-size: 48px;
  line-height: 50px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.sub-heading-text {
  line-height: 30px;
  color: rgb(122, 122, 122);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.name {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.position {
  line-height: 24px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.card {
  display: block;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.map {
  display: block;
  flex-direction: column;
  align-items: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.map-img {
  width: auto;
  height: 220px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 300px;
  border-radius: 10px;
  float: right;
}

.card-img {
  width: auto;
  height: 220px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 300px;
  border-radius: 10px;
}

.card-container {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.headings-container {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.a {
    text-decoration: none;
}

.team-members-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .name {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .card-img {
    width: 100%;
    min-width: 100%;
    height: 250px;
    min-height: 230px;
    max-height: 230px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .name {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .heading-text {
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .sub-heading-text {
    text-align: center;
    color: rgb(122, 122, 122);
    max-width: 500px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .team-members-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .card {
    display: flex;
  }

  .card-img {
    max-width: 300px;
    min-width: 250px;
    border-radius: 5px;
}

  .headings-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .card {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .heading-text {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .inner-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .heading-text {
    text-align: left;
    line-height: 65px;
  }

  .sub-heading-text {
    color: rgb(122, 122, 122);
    text-align: left;
  }

  .name {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .inner-container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .outer-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .card-img {
    width: 100%;
  }

  .heading-text {
    font-size: 40px;
    line-height: 45px;
  }

  .card-img {
    min-width: auto;
  }
}

/* Post -- one column, then two (left), two (right) */

#photo {
    float: left;
    margin: 5px 30px 20px 0px;
    border-radius: 10px;    
}

.floatclear{
    clear: left;
}

#post1 {
	width: 595px;
	overflow: hidden;
	margin: 0 0 10px 10px;
	font-size: 11pt;
	font-weight: normal;
	color: #454445
}

#post1 span
{
	display: block;
	padding-top: 0.20em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #636363;
}

#post1 .title h2
{
	font-size: 2em;
}

#post1 .title .byline
{
	font-size: 0.80em;
    color: #1b59a1;
}

#post2a {
    width: 500px;
    float: right;
    margin: -150px 0 10px 10px;
}

#post2r{
    width: 500px;
    float: right;
    margin: 0px 0px 10px 10px;
}

#post2 {
	width: 500px;
	float: left;
	/*overflow: hidden;*/
	margin: 0 0 10px 10px;
	/*font-size: 11pt;*/
	/*font-weight: normal;*/
	/*color: #454445*/
}

#post2 .title h2
{
	font-size: 2em;
}

#post3 {
	overflow: hidden;
	margin: 0 10px 20px 500px;
	width: 450px;
	font-size: 11pt;
	font-weight: normal;
	color: #454445
}

#post3a{
    overflow: hidden;
    margin: 0px 10px 10px 20px;
    width: 420px;
    font-size: 11pt;
    font-weight: normal;
    color: #454445
}

#post3l{
    overflow: hidden;
    margin: 0px 0px 10px 10px;
    width: 450px;
    font-size: 11pt;
    font-weight: normal;
    color: #454445;
}

#post3a h5{
    font-size: 11pt;
    margin: -20px 0px 0px 0px;
}

#post3 .title h2
{
	font-size: 2em;
}

#post3 a {
	text-decoration:none;
}

/* Menu */

#menu2 {
	line-height: 40px;
	position: absolute;
	font-family: 'Commissioner','Source Sans Pro', sans-serif;
	top: 0px;
	right: 15px;
	height: 40px;
	font-size: 11pt;
	font-weight: normal;
	color: #454445
}

#menu2 li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 20px;
}

#menu2 li a, #menu li span
{
	display: inline-block;
	margin-left: 0px;
	padding: 0.5em 1em;
	font-size: 11pt;
	border-right: 1px solid rgba(0,0,0,.3);
	
}

#menu2 li:first-child
{
	border-left: 1px solid rgba(0,0,0,.3);
}

#menu2 {
	line-height: 40px;
	position: absolute;
	font-family: 'Commissioner','Source Sans Pro', sans-serif;
	top: 0px;
	right: 15px;
	height: 40px;
	font-size: 11pt;
	font-weight: normal;
	color: #454445
}

#menu3 {
	line-height: 40px;
	position: absolute;
	font-family: 'Commissioner','Source Sans Pro', sans-serif;
	top: 0px;
	height: 40px;
	font-size: 11pt;
    text-decoration: underline;
	font-weight: normal;
	color: #454445;
    display: inline-block;
    padding: 1em 1.5em;
    letter-spacing: 0.1em;
}

#menu3 li
{
	display: block;
	float: left;
	text-align: center;
	line-height: 20px;
    border-right: solid 1px #D9D9D9;
    text-decoration: underline;
    border-spacing: 100px;
}

#menu3 li:last-child
{
    margin-right: 10px;
}

#menu3 li a, #menu li span
{
	display: inline-block;
	margin-left: 20px;
	padding: 0.5em 1em;
	font-size: 11pt;
	border-right: 1px solid rgba(0,0,0,.3);
}

.topic td{ height: 14px };
