.sidebar {
  width:360px;
  }
  .sidebar-inner {
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    flex-direction:column;
    height:100%;
    }
    .sidebar-inner .flex-scroll {
      overflow-y:scroll;
      min-height:0;
      -webkit-box-flex:1;
      flex:1;
      }

.news-scroll {
  max-height: 500px;   /* adjust height as needed */
  overflow-y: auto;    /* shows scrollbar only when needed */
  /*border: 1px solid #ddd;*/
  padding: 4px;
}


/* Mobile rules */
@media only screen and (max-width:640px) {
.sidebar {
  position:absolute;
  width:100%;
  padding:0;
  margin:0;
  border-radius:0;
  top:auto;
  bottom:0;
  height:40%;
  z-index:10;
  }
  .sidebar-inner {
    height:100%;
    border-radius:0;
    box-shadow:none;
    }
  .sidebar .round-top,
  .sidebar .round-bottom { border-radius:0; }
}
